body {
  font-family: sans-serif;
}

.container {
  display: grid;
  margin: 1em;
}

.buttons {
  display: inline-block;
  width: 20%;
}

.btn {
  margin: 1rem;
  transition: all 0.5s ease;
  transform: scale(1);
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.25);
  filter: brightness(120%);
}
