@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(rgb(37, 188, 243), white);
}

#container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#buttons {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(5px 5px 10px rgb(11, 11, 11));
}

.btn {
  height: 100px;
  width: 150px;
  margin: 1rem;
  transition: all 0.5s ease;
  transform: scale(1);
}

.btn img {
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.25);
  filter: brightness(110%);
}

.button {
  margin-bottom: 2rem;
  height: 60px;
  width: 200px;
  font-size: 150%;
  transition: all 0.5s ease;
  font-family: "Bebas Neue", cursive;
  text-transform: uppercase;
  justify-content: center;
  filter: drop-shadow(0px 5px 10px rgb(11, 11, 11));
  background-color: #ff0000;
  color: #fff;
  border: none;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.2);
  background-color: rgba(255, 0, 0, 1);
}

.button:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

#minecraft {
  background-color: rgb(235, 238, 170);
}

#grandmas {
  background-color: rgb(131, 237, 114);
}

#roblox {
  background-color: rgb(223, 127, 240);
}

#windows {
  background-color: rgb(171, 114, 123);
}

#fbi {
  background-color: rgb(29, 27, 27);
}

#dog {
  background-color: rgb(112, 132, 78);
}

#owen {
  background-color: rgb(101, 190, 155);
}

#amongus {
  background-color: rgb(255, 217, 0);
}

#dababy {
  background-color: rgb(86, 69, 178);
}